@import "header.css";
@import "footer.css";
@import "main_page.css";
@import "contacts.css";
@import "products.css";
@import "product_item.css";
@import "registration_component.css";
@import "cart.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  color: black;
  background: rgb(240,240,240);
  font-family: Avenir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,p{  font-family: Arial;


}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
